.postBody{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 50rem;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}